.App {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  text-align: center;
}

nav h1 {
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  margin: 20px;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 10px;
  row-gap: 50px;
  margin: 50px auto;
  justify-items: center;
}

.grid-item {
  display: flex;
  align-items: center;
  width: 250px;
  height: 250px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background: url("./Images/ItemBG.jpg") no-repeat center center;
}

.grid-item:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.grid-item img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
}

/* Modal */
.modal {
  display: flex;
  width: 900px;
  height: 500px;
  background-color: #334155;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.meme-image {
  background-color: #334155;
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 5px 0 0 5px;
  user-select: none;
}

.meme-image img {
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: contain;
  -webkit-user-drag: none;
}

.meme-text {
  position: relative;
  background-color: #334155;
  width: 400px;
  border-left: 1px solid rgba(157, 157, 157, 0.9);
  border-radius: 0 5px 5px 0;
}

.close-icon {
  position: absolute;
  top: 15px;
  left: 360px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.close-icon:hover {
  transform: rotate(90deg);
  color: #f00;
}

.caption {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 58%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fff;
}

input {
  position: absolute;
  height: 40px;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  z-index: 10;
  cursor: pointer;
}

input[type="text"] {
  top: 15%;
  left: 60%;
  width: 35%;
}

input[type="number"] {
  top: 25%;
  left: 65%;
  width: 12%;
}

input[type="color"] {
  top: 25%;
  left: 80%;
  width: 8%;
  padding: 0;
}

button {
  position: absolute;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  z-index: 10;
  color: #000;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(3px);
  box-shadow: rgba(0, 0, 0, 1) 0px 1px 3px, rgba(0, 0, 0, 1) 0px 1px 2px;
}

.add-text {
  top: 80%;
  left: 20%;
  width: 30%;
}

.save-meme {
  top: 80%;
  left: 55%;
  width: 30%;
}

.up-btn {
  position: fixed;
  top: 85%;
  right: 1%;
  z-index: 10;
  cursor: pointer;
  animation: bounce 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
